---
import PostArticle from '../molecules/PostArticle.astro';
---

<PostArticle
  title="Título de la nota"
  image="/DoctorPost.webp"
  backHref="#noticias"
>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, pariatur?
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia dolorem
    error, qui nobis dolore fuga minus consequatur animi.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae
    dolorem dolores excepturi.
  </p>
</PostArticle>