---
import { Image } from 'astro:assets';
import SpeakerSlider from '../islands/SpeakerSlider';


const speakers = [
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speaker_santiago_march_csvoed.webp",
    alt: "Santiago March"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speakerr_roxana_trejo_forhdu.webp",
    alt: "Roxana Trejo"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speaker_maribel_ramirez_yavpyb.webp",
    alt: "Maribel Ramírez"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speaker_luis_galindo_zb9iyx.webp",
    alt: "Luis Galindo"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speaker_hector_valle_comdzp.webp",
    alt: "Héctor Valle"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_fabiola_casas_ohhgal.webp",
    alt: "Fabiola Casas"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_fabiana_zepeda_e7vexy.webp",
    alt: "Fabiana Zepeda"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_eduardo_gonzalez_zuyzpy.webp",
    alt: "Eduardo González"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_eric_ochoa_loz2gx.webp",
    alt: "Eric Ochoa"
  },
  
  /* {
    url: "",
    alt: ""
  }, */

];

const speakers2 = [
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speaker_hector_valle_comdzp.webp",
    alt: "Héctor Valle"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_fabiola_casas_ohhgal.webp",
    alt: "Fabiola Casas"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_fabiana_zepeda_e7vexy.webp",
    alt: "Fabiana Zepeda"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_eduardo_gonzalez_zuyzpy.webp",
    alt: "Eduardo González"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_eric_ochoa_loz2gx.webp",
    alt: "Eric Ochoa"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_celia_mercedes_vpqdsc.webp",
    alt: "Celia Mercedes"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861846/speaker_daniela_de_la_rosa_kbdhxe.webp",
    alt: "Daniela de la Rosa"
  },
  {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861845/speaker_alejandro_macias_egwdei.webp",
    alt: "Alejandro Macías"
  },
   {
    url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752865731/speaker_juanita_jimenez_ygqzip.webp",
    alt: "Juanita Jiménez"
  },
];



const sectionStyles = `landing-section bg-bg-gray min-h-screen w-screen flex items-center justify-center pt-24 px-8 relative overflow-y-hidden`;
---

<!-- <section aria-labelledby="speakers-title" class="py-16 bg-purple"> -->
<section
  class={sectionStyles}
  data-header-color={`bg-gray`}
  id='agenda'
>
  <div class="container mx-auto px-4">
    <h2 id="speakers-title" class="text-celeste-hsi text-4xl font-bold text-center mt-20 md:mt-10 mb-8 leading-5">
      SPEAKERS <br/><span class="text-xl">anteriores</span>
    </h2>

    <SpeakerSlider client:visible
      maxShowed={4}
      time={5000}
      speakers={speakers}
      imgWidth={210}
      imgHeight={260}
        className='mb-10'
    />
    <SpeakerSlider client:visible
      maxShowed={4}
      time={5500}
      speakers={speakers2.sort((a, b) => a.alt.localeCompare(b.alt))}
      imgWidth={210}
      imgHeight={260}
    />
  </div>
</section>
