---
interface Props {
    className?: string;
}
const { className } = Astro.props;
---

<div class={className}>
    <svg
        width="704"
        height="293"
        viewBox="0 0 704 293"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M626.527 83.4194C685.493 71.3637 702.745 26.7289 704 5.91849L-25 -2.69605e-06L-25 290.627C-8.32178 296.726 38.2697 294.825 91.2096 238.421C157.385 167.917 169.221 223.89 261.22 201.824C353.219 179.757 334.927 142.621 423.698 105.486C512.469 68.3498 552.82 98.489 626.527 83.4194Z"
            fill="#B7D280"></path>
    </svg>
</div>
