---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import QueEs from "../components/sections/QueEs.astro";
import Layout from "../layouts/Layout.astro";
import SiteFooter from "../components/molecules/SiteFooter.astro";
import NotasEditorial from "../components/sections/NotasEditorial.astro";
import Notas from "../components/sections/Notas.astro";
import SpeakersPodcast from "../components/sections/SpeakersPodcast.astro";
import Galeria from "../components/sections/Galeria.astro";
import FloatingWhatsApp from "../components/islands/atoms/FloatingWhatsApp.tsx";
import QuienesSomos from "../components/sections/QuienesSomos.astro";
import MenuContenidos from "../components/sections/MenuContenidos.astro";
---

<Layout title="Salud en Serio - Podcast">
  <LandingHeader />

  <main
    class="relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>

    <div class="snap-center">
      <QuienesSomos />
    </div>
    <div class="snap-center">
      <MenuContenidos />
    </div>

    <div class="snap-center">
      <NotasEditorial />
    </div>
    
    <div class="snap-center">
      <SpeakersPodcast />
    </div>
    <!-- <div class="snap-center">
      <Notas />
    </div>
    <div class="snap-center">
      <Galeria />
    </div>
    <div class="snap-center">
      <Video />
    </div>
    <div class="snap-center">
      <Patrocinadores />
    </div>
    <div class="snap-center">
      <PageFooter />
    </div>
    <FloatingWhatsApp
      className="bg-green-hsi rounded-full"
      size={60}
      positionX="right"
      positionY="bottom"
      waNumber="525511355967"
      client:load
    /> -->
  </main>
</Layout>
