---
const { href = "#", label = "Ver más", className = "" } = Astro.props;
---
<a
    href="https://mcusercontent.com/139f2021968390523117666aa/files/e263b4f2-2883-456a-7379-8587ae767f86/Agenda_ForoIAAS2025.pdf"
    class=`flex w-full justify-center md:w-auto md:inline-block 
  bg-gray-hsi 
  text-white hover:text-navy     font-bold py-2 px-6 rounded-full 
  border-2 border-white hover:border-navy 
  shadow-2xl hover:bg-hsi-blue transition 
  text-xl
  focus:outline-none focus:ring-2 focus:ring-navy focus:ring-opacity-50
  ${className}`
>
    Descargar Agenda
</a>
